{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Frenchies Mechanix</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'jscript/main.js' %}"></script>
    </head>

    <body>
        <h1>Welcome to Frenchies Mechanix</h1>
        
        <nav>
            <ul>
                <li><a href="{% url 'mechanix:login' %}">Login</a></li>
                <li><a href="{% url 'mechanix:find_shop' %}">Find a Shop</a></li>
                <li><a href="{% url 'mechanix:troubleshoot' %}">Troubleshoot</a></li>
                <li><a href="{% url 'mechanix:discussion' %}">Discussion Board</a></li>
            </ul>
        </nav>

        <p>Welcome to Frenchies Mechanix Website!</p>
        <p>This website is designed to provide automotive advice for those looking to fix their vehicle with no idea where to start!</p>

        <img src="{% static 'images/logo.png' %}" alt="Frenchies Mechanix Logo">

    </body>

</html>